* {
  font-family: verdana;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #eee;
}

.wrapper {
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
  color: #fff;
  font-weight: 600;
  text-transform: capitalize;
}

.flex-container {
  background-color: rgb(229, 205, 186);
  display: flex;
}

.box {
  min-width: 100px;
  padding: 1rem;
}

.one {
  background-color: blueviolet;
  flex-grow: 1;
  flex-shrink: 3;
}

.two {
  background-color: chocolate;
  flex-grow: 2;
  flex-shrink: 2;
}

.three {
  background-color: darkgreen;
  flex-grow: 3;
  flex-shrink: 1;
}

/* --- Clearfix Hack  

.flex-container:after {
  content: "";
  clear: both;
  display: block;
}
 --- */

/* tile styling */
/* flex-Container*/
main {
  display: flex;
  background-color: red;
  flex-wrap: wrap;
}

/* flex-item */
.tile {
  height: 100px;
  background-color: palegreen;
  border: 1px solid #ccc;
  padding: 1rem;
  color: #fff;
  text-transform: uppercase;
  min-width: 200px;
  /* flex-grow: 1; */
}

.tile:first-child {
  background-color: seagreen;
}

.tile:last-child {
  background-color: orange;
}

/* Individual Styles on flex items */
/* .tile-1 {
  flex-grow: 1;
}

.tile-2 {
  flex-grow: 1;
}

.tile-3 {
  flex-grow: 2;
} */

/* Laying out the Webpage | Making Layouts */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  background-color: rosybrown;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

header,
footer {
  background-color: rgb(76, 17, 216);
  height: 10vh;
  padding: 1rem;
}

main {
  height: 80vh;
  display: flex;
}

main aside {
  flex-grow: 2;
  background-color: sienna;
}

aside,
article {
  padding: 1rem;
}

main article {
  flex-grow: 8;
  background-color: steelblue;
}

 */
